:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
  /* biome-ignore lint/complexity/noImportantStyles: required to override charcoal ui background */
  background-color: var(--charcoal-background2) !important;
}

body {
  margin: 0;
  font-family:
    "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-optical-sizing: auto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: var(--charcoal-text1);
  width: 100%;
  height: 100%;
}

#root,
[data-overlay-container="true"] {
  height: 100%;
}

.charcoal-button {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.flex-spacer {
  flex: 1 1 auto;
}

.surface {
  margin: 0 8px;
  border-radius: 8px;
  background-color: var(--charcoal-surface1);
}

div.blocker {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--charcoal-text3);
  flex: 1 1 0%;
  margin-top: 8px;
  margin-bottom: 8px;

  p {
    margin: 8px 0;
  }
}

.charcoal-segmented-control-radio__label {
  font-size: 13px;
  font-weight: 600;
}
